/* Colors */

/* 
TEXT honeyDew: #E2FCEF 
APP BG: deepPurple: #9B287B 
APP BORDER: pantsPurple:#5C164E 
BG BORDEDR: darkPurple:#402039
BG licorice:#170F11
 */



.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #170F11;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #E2FCEF ;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
